<h1>Ranking</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |user|}}
    <tr>
      <th>{{user.firstName}}</th>
      <td>{{user.lastName}}</td>
      <td>{{user.score}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
